.container{
    background-color: #ececec;
    padding: 10px;
}

.firstBlock{
    height: 250px;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
}

.secondBlock{
    height: 250px;
    background-color:pink;
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
}

.thirdBlock{
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
}

h1{
    font-size: 5em;
}

h1, p {
    text-align: center;
    color: #484855;
    padding: 15px;
    margin: 0 auto;
}

img{
    width: 200px;
    height: 200px;
    padding: 25px;
}